<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>Whisper_Confirm</title>
    <link href="/assets/normalize.css" rel="stylesheet">
    <link href="/assets/new.scss" rel="stylesheet">
  </head>
  <body>
    <div class="contents_wrapper">
      <header>
        <%= render 'header' %>
      </header>
      <div>
        <%= form_with(model: @post, local: true ,url: which_path_confirm_page, method: which_method) do |form| %>
          <div class="whisper_wrapper">
            <div class="field">
              <%= form.label :'内容' %>
              <%= form.hidden_field :content %>
              <%= @post.content %>
              <p></p>
            </div> 
            <div class="button_area">
              <div class="whisper_button">
                <%= form.submit value="確定" %>
              </div>
              <div class="back_button">
                <%= form.submit value="戻る", name: 'back' %>
              </div>
            </div>
          </div>
        <% end %>
        <footer>
          <%= render 'footer' %>
        </footer>
      </div>
    </div>
  </body>
</html>